@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #0f172a 0%, #1e293b 100%);
  --foreground: #ffffff;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#__next {
  background: linear-gradient(180deg, #0f172a 0%, #1e293b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
